<div class=" foot  ">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-6 col-md-6 py-5"><span>ChapterChest</span></div>
            <div class="col-lg-6 col-md-6 pe-5 text-center pb-5 pt-3">
                <h5>NewsLetter</h5>
                <form action="" class="d-flex justify-content-between">
                    <input class="form-control me-3" type="text" placeholder="Email">
                    <button class="btn btn-outline-light" style="border-radius: 0;">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr class="text-light container w-50">
    <div class="container w-50 py-3" >
        <p class="text-center" style="color: aliceblue;">All rights reserved since 2022</p>
    </div>

</div>
