<app-header></app-header>
<div class="landing">
    <div class="overlay">
        <div class="container w-75 py-5">
            <h3 class="text-center">
                Welcome to <span>ChapterChest</span>
            </h3>
            <p>
                Discover a world of knowledge and adventure with Chapter Chest, your one-stop solution for library management. Whether you are a book lover, a student, or an academic professional, our platform is designed to meet all your reading and research needs.
            </p>
            <div class="text-center"><button routerLink="/login" class="btn btn-outline-light py-2">Explore More</button></div>
    
        </div>
    </div>

</div>

