.landing {
    position: relative;
    background-image: url('https://i.postimg.cc/xT0LMqdD/abundant-collection-antique-books-wooden-shelves-generated-by-ai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.7);; /* This creates a semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

h3,p{
    color: aliceblue;
}

.btn{
    font-family: "Playfair Display", serif;
    font-weight: 500;
font-style: normal;
border-radius: 0;
text-transform: uppercase;

}