<nav class="navbar navbar-expand-lg " >
    <div class="container-fluid">
      <a class="navbar-brand ps-5" href="#">
        <img src="https://i.postimg.cc/pr0tXwLF/images-removebg-preview-1.png" width="40" alt="">
        <span>ChapterChest</span></a>
        <a style="text-decoration: none;" class="border rounded-pill d-flex justify-content-between px-2 pt-2 me-5">
          <i class="fa-solid fa-user pt-1 pe-2" style="color: #ffffff;"></i>
          <p class="text-white">Admin</p>
        </a>
      </div>
      </nav> 

      <div class="container w-50 my-5 shadow">
        <h3 class="text-center py-3">Edit Your Collection</h3>
        <div class="pb-4">
            <form (ngSubmit)="update()">
              <div class="form-floating my-3">
                  <input [(ngModel)]="bookInfo.title"   name="title" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Title</label>
                </div>
                <div class="form-floating mb-3">
                  <input  [(ngModel)]="bookInfo.author"  name="author" type="text" class="form-control" id="floatingPassword" placeholder="Author">
                  <label for="floatingPassword">Author</label>
                </div>
                <div class="form-floating mb-3">
                  <input [(ngModel)]="bookInfo.genere"  name="genere" type="text" class="form-control" id="Genere" placeholder="Genere">
                  <label for="floatingPassword">Genere</label>
                </div>
                <div class="form-floating mb-3">
                  <input [(ngModel)]="bookInfo.image" name="image" type="text" class="form-control" id="imageurl" placeholder="imageurl">
                  <label for="floatingPassword">Image Url</label>
                </div>
                <div class="form-floating mb-3">
                  <input [(ngModel)]="bookInfo.description" name="description" type="text" class="form-control" id="imageurl" placeholder="imageurl">
                  <label for="floatingPassword">Descrpition</label>
                </div>
                <div class="text-center "><button type="submit" class="btn px-5 py-2">Edit</button></div>
                
            </form>
        </div>
      </div>

